@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

:root {
  --text: rgb(0 0 0 / 87%);
  --bg: rgb(255, 255, 255);
  --textInput: #000000ff;
}